[submodule "Packages/CrunchyrollSwift"]
	path = Packages/CrunchyrollSwift
	url = https://github.com/HackingGate/CrunchyrollSwift
[submodule "Packages/JikanSwift"]
	path = Packages/JikanSwift
	url = https://github.com/HackingGate/JikanSwift.git
[submodule "Packages/MALSyncSwift"]
	path = Packages/MALSyncSwift
	url = https://github.com/HackingGate/MALSyncSwift.git
